/* ------------------------------------------------------------ */
/*                           Général                            */
/* ------------------------------------------------------------ */
@import url('https://fonts.googleapis.com/css?family=Faster+One');

@keyframes animeAvatar {
    0% { transform: scale(0.8); }
    100% { transform: scale(1); }
}

@keyframes animeAvatarToken {
    0% { transform: scale(0.8); }
    100% { transform: scale(1); }
}

@keyframes animePils {
    /* 0% {  
        -ms-transform: rotate(0deg) scale(0.8); 
        -webkit-transform: rotate(0deg) scale(0.8); 
        transform: rotate(0deg) scale(0.8); 
    }
    50% {    
        -ms-transform: rotate(360deg) scale(1.3); 
        -webkit-transformtransform: rotate(360deg) scale(1.3); 
        transform: rotate(180deg) scale(1.3); 
    }
    100% {    
        -ms-transform: rotate(360deg) scale(0.8); 
        -webkit-transformtransform: rotate(360deg) scale(0.8); 
        transform: rotate(360deg) scale(0.8); 
    } */
    0% {  
        -ms-transform: rotate(0deg); 
        -webkit-transform: rotate(0deg); 
        transform: rotate(0deg); 
    }
    100% {    
        -ms-transform: rotate(360deg); 
        -webkit-transformtransform: rotate(360deg); 
        transform: rotate(360deg); 
    }
}
@keyframes scalePils {
    0% {  
        -ms-transform: scale(0.8); 
        -webkit-transform: scale(0.8); 
        transform: scale(0.8); 
    }
    50% {    
        -ms-transform: scale(1.5); 
        -webkit-transformtransform: scale(1.5); 
        transform: scale(1.5); 
    }
    100% {    
        -ms-transform: scale(0.8); 
        -webkit-transformtransform: scale(0.8); 
        transform: scale(0.8); 
    }
}


* {
    /* Pour empecher la sélection des objets statiques à l'écran  */
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    background: url("../images/Logo-du-tour-de-france-velo1920.png") no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

form {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:26vw;
    min-width: 150px;
    padding: 20px;
    background: linear-gradient(0.75turn, rgba(252,141,50,0.9), rgba(230,159,42,.9));
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: solid 3px black;
    display: none;
}

form fieldset{
    border: none;
    margin-bottom: 10px;
    width:26vw;
    min-width: 160px;
}

form fieldset:last-of-type{
    margin-bottom: 0;
}

form legend{
    color: #6f3c13;
    font-size: 2.2em;
    font-weight: bold;
    padding-bottom: 10px;
    text-align: center;
}

form ol{
    padding: 0;
}

form ol li{
    background-color: rgba(255,255,255,0.3);
    border-color: rgba(255,255,255,0.6);
    border-style: solid;
    border-width: 2px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    line-height: 30px;
    list-style: none;
    padding: 5px 10px;
    margin-bottom: 2px;
}

form label{
    float: left;
    font-size: 1.2em;
    width:6vw;
    min-width: 100px;
}

form input{
    background-color: #ffffff;
    border: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: italic 1.2em Georgia, "Times New Roman", Times, serif;
    outline: none;
    padding: 5px;
    width:18vw;
    min-width: 130px;
}   

form input:focus{
    background-color: #f1a92a;
}   

form input:valid{
    border: 1px solid green;
}   

form input:invalid{
    border: 1px solid red;
}   

.cButton{
    font-family: Arial,sans-serif;
    font-size: 1.4em;
    text-align: center;
    text-indent: 0;
    text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.2);
    color: #000;

    height: 35px;
    width: 80%;
    min-width: 20%;
    margin: 1% 10%;
    background: linear-gradient(rgb(252,141,50), rgb(230,159,42));
    border-radius: 8px;
    border: 1px solid black;
    box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5), 0 -1px 0 rgba( 255, 255, 255, 0.4);
}

.cButton:hover{
    color: #222;
    background: linear-gradient(rgb(230,159,42),rgb(252,141,50));
    filter: brightness(110%)
}

.cButton:active{
    color: #000;
    background: linear-gradient(rgb(230,159,42),rgb(252,141,50));
    filter: brightness(110%);
    box-shadow: 1px 1px 10px black inset, 
                0 1px 0 rgba( 255, 255, 255, 0.4);
    margin: 1% 9%;
}

.pils{
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 80px;
    height: 27px;
    transform-origin: center;
}
.pils.selected{
    -webkit-filter: drop-shadow(8px 8px 10px gray); 
    filter: drop-shadow(8px 8px 10px gray);
}


.cadreJoueur{
    overflow: hidden;
    position: absolute;
    height: 90%;
    width: 20%;
    min-width: 150px;
    padding: 0;
    background: linear-gradient(0.75turn, rgba(252,141,50,0.7), rgba(230,159,42,.7));
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: solid 3px black;

    font-family: 'Faster One', Georgia, cursive, serif, sans-serif;
    font-style: normal;
    font-size: 1.6em;
    /* font-weight: bold; */

    text-align: center;
    /* text-transform: uppercase; */

    top: 5px;
}

.adviseWindowdh {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:26vw;
    min-width: 150px;
    padding: 20px;
    background: linear-gradient(0.75turn, rgba(252,141,50,0.9), rgba(230,159,42,.9));
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: solid 3px black;

    color: #6f3c13;
    font-size: 2.2em;
    font-weight: bold;
    padding-bottom: 10px;
    text-align: center;
    z-index: 1000001;
}

.controlPanel{
    background : url("../images/991527628-1024x1024.png") ;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    height: 174px;
    width: 99.5%;
    top: 0;
    left: 0;
    border-radius : 10px;
    border : solid 5px rgb(252,141,50);
}

.avatar{
    position : absolute;
    height: auto;
    width: 25%;
    top : 3%;
    left :  2%;
    border-radius : 50%;
}

.pseudoFrame{
    position : absolute;
    bottom : 0;
    height : 22%;
    width : 100%;
    font-family : "Faster One", Georgia, cursive, serif, sans-serif;
    font-style : normal;
    font-size : 1.6em;
    text-align : center;
    line-height : 70%;
}

.counterFrame{
    position : absolute;
    top : 0;
    right : 0;
    height : 39%;
    width : 68%;
    color : ivory;
    border-bottom : 3px solid black;
    font-family : "Faster One", Georgia, cursive, serif, sans-serif;
    font-style : normal;
    font-size : 1.8em;
    text-align : center;
}

.timerFrame{
    position : absolute;
    top : 40%;
    right : 0;
    height : 38%;
    width : 68%;
    color : ivory;
    font-family : "Faster One", Georgia, cursive, serif, sans-serif;
    font-style : normal;
    font-size : 1.4em;
    text-align : center;
    line-height : 1.5;
}

.containerAvatarToken{
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius : 50%;
    z-index : 1000000;
}

.avatarToken{
    position : absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform-origin: center;
    height: auto;
    width: 100px;
    border-radius : 50%;
}